<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/main.css"/>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main><%- body %></main>
    <section class="products-sidebar">
      <% if (products.length) { %>
      <h3>Other Products</h3>
      <ul>
        <% for (let i = 0; i < products.length; i++) {%> <%# skip current
        product %> <% if (productId !== products[i].id) { %>
        <li>
          <a href="/products/<%= products[i].id %>"><%= products[i].name%></a>
        </li>
        <% }} %>
      </ul>
      <% } %>
    </section>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
