<% for (let i = 0; i < clients.length; i++) { %> <% if(clients[i].id === 
  clientId) { %>
    <h1><%= clients[i].name %></h1>
    <div class="Client">
      <p>Client ID: <%= clients[i].id %></p>
      <p>Client Code: <%= clients[i].code %></p>
      <p>Company Name: <%= clients[i].companyName %></p>
      <p>Client Email: <%= clients[i].email %></p>
    </div>
      <a href="/clients/edit/<%= clientId %>"><button class="btn btn-Edit">Edit</button></a>
  <% } %>
<% } %>

