<a class="return-link" href="/clients">Return to All Clients</a>
<br>

<% for (let i = 0; i < clients.length; i++) { %> <% if(clients[i].id === 
  clientId) { %>
    <h1><%= clients[i].name %></h1>
    <div class="Client">
      <p><strong>Client ID</strong>: <%= clients[i].id %></p>
      <p><strong>Client Code</strong>: <%= clients[i].code %></p>
      <p><strong>Company Name</strong>: <%= clients[i].companyName %></p>
      <p><strong>Client Email</strong>: <%= clients[i].email %></p>
    </div>
    <br>
      <a href="/clients/edit/<%= clientId %>"><button class="btn btn-Edit">Edit</button></a>
  <% } %>
<% } %>

