<%
  // Helper function to format the date
  function formatDate(d) {
    let date = new Date(d);
    let day = ('0' + date.getDate()).slice(-2); // Add leading 0 if day is less than 10
    let month = ('0' + (date.getMonth() + 1)).slice(-2); // Add leading 0 if month is less than 10
    let year = date.getFullYear();
    return `${day}-${month}-${year}`;
  }
%>

<h1>Invoices</h1>
<br>

<% if (reqInfo.roles.includes("Admin") || reqInfo.roles.includes("Manager")) { %>
<div class="searchbar">
  <form class="search-inputs" action="/invoices" method="GET">
    <input class="inputfield" type="text" name="search" placeholder="Search by client name">
    <button type="submit" class="btn btn-Search">Search</button>
  </form>
  <div class="create-btn">
      <a href="/invoices/create"><button class="btn btn-Create">New Invoice</button></a>
  </div>
</div>
<% } %>

<div class="Detail-Delete">
  <% if (invoices.length === 0) { %>
    <p>No invoices available.</p>
  <% } else { %>
    <% for (let i = 0; i < invoices.length; i++ ) { %>
      <div class="names">
        <a class="edit-a" href="/invoices/<%= invoices[i].id %>">
          Invoice #<%= invoices[i].invoiceNumber %> - <%= invoices[i].client.name %> - <%= formatDate(invoices[i].dueDate) %> - <%= invoices[i].paid ? 'Paid' : 'Unpaid' %>
        </a>
      </div>
      <div class="btn-class">
        <% if (reqInfo.roles.includes("Manager") || reqInfo.roles.includes("Admin") ) { %>
          <a href="/invoices/<%= invoices[i].id %>/togglePaid">
            <button class="btn btn-Paid">
              <%= invoices[i].paid ? 'Mark Unpaid' : 'Mark Paid' %>
            </button>
          </a>
          <% if ( reqInfo.roles.includes("Admin") ) { %>
          <a href="/invoices/<%= invoices[i].id %>/delete">
            <button class="btn btn-Delete">Delete</button>
          </a>
          <% } %>
        <% } %>
      </div>
    <% } %>
  <% } %>
</div>

