<a class="return-link" href="/products">Return to All Products</a>
<br>

<% for (let i = 0; i < products.length; i++) { %>
  <% if (products[i].id === productId) { %>
    <h1><%= products[i].name %></h1>
    <div class="Product">
      <p><strong>Product ID</strong>: <%= products[i].id %></p>
      <p><strong>Product Code</strong>: <%= products[i].code %></p>
      <p><strong>Product Cost</strong>: $<%= (products[i].unitCost / 100).toFixed(2) %></p>
    </div>
    <br>
    <% if (reqInfo.roles.includes("Admin")) { %>
      <a href="/products/edit/<%= productId %>"><button class="btn btn-Edit">Edit</button></a>
    <% } %>
  <% } %>
<% } %>
