<div class="profile-container">
  <h1>My Profile</h1>
  <div class="profile-details">
    <p>Username: <%= userInfo.user.username %></p>
    <p>Name: <%= userInfo.user.firstName %> <%= userInfo.user.lastName %></p>
    <p>Email: <%= userInfo.user.email %></p>
    <% if(reqInfo.roles?.length) { %> 
      <p>Roles: <%= reqInfo.roles %></p>
    <% } %>
  </div>
  <div class="edit-button">
    <a href="/user/edit/<%= userInfo.user._id %>?returnUrl=/user/profile">
      <button class="btn btn-Edit">Edit User Info</button>
    </a>
  </div>
</div>
