<% for (let i = 0; i < users.length; i++) { %>
    <% if (users[i].id === userId) { %>
      <h1><%= users[i].username %></h1>
      <div class="User">
        <p>First Name: <%= users[i].firstName %></p>
        <p>Last Name: <%= users[i].lastName %></p>
        <p>Email: <%= users[i].email %></p>
        <% if(users[i].roles?.length) { %> Roles: <%= users[i].roles %> <% } %>
      </div>
      <% if (reqInfo.roles.includes("Admin") || reqInfo.roles.includes("Manager")) { %>
        <a href="/user/edit/<%= userId %>?returnUrl=/user/users/<%= userId %>"><button class="btn btn-Edit">Edit</button></a>
        <% } %>
    <% } %>
  <% } %>
  